<div class="container">
    <div class="contact-form">
      <div class="row">
        <div class="col-md-6">
          <app-map></app-map>
        </div>
        <div class="col-md-6">
          <ul class="address" style="font-size: 20px">
            <li><i class="fa fa-map-marker"></i> <span> Address:</span><br>
              <a href="https://www.google.com/maps/place/1900+Market+St,+Philadelphia,+PA+19103/@39.9531084,-75.1746308,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c636cdf64d51:0x62f348f6b80365eb!8m2!3d39.9531084!4d-75.1724421" style="color: black"> 1900 Market St, Philadelphia, PA </a><br>
            </li>
            <li><i class="fa fa-phone"></i> <span> Phone:</span><br>
              <a href="tel:(215)-874-7572" style="color: black">+1(215)-874-7572</a><br></li>
            <li><i class="fa fa-envelope"></i> <span> Email:</span><br>
              <a href="contact@weraisethebarr.com" style="color: rgb(0, 0, 0)">  contact@weraisethebarr.com</a>
            </li>
          </ul>
          <div class="contact-form-user-data">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
              <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                <div class="form-group">
                  <label for="name">First Name</label>
                  <input
                    type="text"
                    id="firstname"
                    class="form-control"
                    ngModel
                    name="firstname"
                    required>
                </div>
                <div class="form-group">
                  <label for="name">Last Name</label>
                  <input
                    type="text"
                    id="lastname"
                    class="form-control"
                    ngModel
                    name="lastname"
                    required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    id="email"
                    class="form-control"
                    ngModel
                    name="email"
                    required
                    email
                    #email="ngModel">
                  <span class="help-block" *ngIf="!email.valid && email.touched">Please input a valid email!</span>
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea
                    type="text"
                    id="message"
                    class="form-control"
                    ngModel
                    name="message"
                    required
                    message
                    #message="ngModel"></textarea>
                  <span class="help-block" *ngIf="!email.valid && email.touched">Please input a valid email!</span>
                </div>
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
            </form>
            <div class="thanks" *ngIf="submitted">
              <p>Thank you for your interested in Raise the Barr! </p>
              <p>We will contact you soon!</p>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>